body {
	min-width: 375px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}
p {
	margin: 2px;
}
#main {
	text-align: left;
	width: 90%;
	height: 80%;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}
#navbar {
	position: fixed;
	text-align: center;
	width: 100%;
	min-width: 375px;
	height: 60px;
	top: 0px;
	z-index: 1;
	top: 0;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFFFFF;
}
#head-table {
	display: inline-block;
	margin: auto;
	margin-top: 10px;
}
td {
	vertical-align: middle;
}
#td-left {
	width: 100px;
	text-align: left;
}
#td-mid {
	width: 200px;
	text-align: center;
}
#td-right {
	width: 100px;
	text-align: center;
}
#main-menu {
	width: 180px;
	margin: auto;
}
.dropdown {
	position: relative;
	cursor: pointer;
}
.selector {
	margin: auto;
}
#select-header {
	text-align: center;
	font-size: 12px;
	margin: 0px;
	font-weight: 600;
	font-family: "Georgia", Times, serif;
}
#main-select {
	border: 1px #666666 solid;
	border-radius: 3px;
	vertical-align: top;
	height: 24px;
	overflow: hidden;
}
p.select-txt {
	display: inline-block;
	width: 70%;
	overflow: hidden;
}
img.select-icon {
	display: inline-block;
	height: 16px;
	margin-top: 2px;
	margin-right: -20px;
	margin-bottom: 0px;
}
.drop-menu {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px #999999 solid;
	border-radius: 3px;
	z-index: 2;
}
.drop-option {
	border-bottom: 1px #999999 solid;
}
#settings {
	font-size: 14px;
	width: 100%;
}
#shadow {
	width: 100%;
	height: 5px;
	margin-left: -10px;
	margin-right: -10px;
	background-color: #333333;
	background: -webkit-linear-gradient(#666666, #FFFFFF);
}
div.center-menu {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}
div.center-option {
	border-bottom: 1px #888888 solid;
	width: 300px;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
	font-size: 32px;
	font-weight: 300;
	text-align: right;
}
p.center-txt {
	display: inline-block;
	text-align: center;
	width: 250px;
}
img.arrow-icon {
	display: inline-block;
}

footer {
	bottom: 0px;
	height: 10px;
}
