body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	@media screen and (max-width: 600px) {
		width: 100%;
		font-size: 20px;
	}
	@media screen and (min-width: 601px) {
		font-size: 24px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

header {
	margin-bottom: 20px;
}
td {
	vertical-align: top;
}
h1 {
	font-family: "Georgia", Times, serif;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
}
p {
	margin-top: 5px;
	margin-bottom: 10px;
}
p.header_right {
	text-align: right;
	margin: 0px;
	font-weight: 300;
	font-size: 18px;
}
div.home {
	text-align: left;
	margin-bottom: -20px;
}
input {
	height: 20px;
	font-size: 18px;
	text-indent: 5px;
}
#category {
	display: none;
}
button {
	height: 40px;
	background-color: #FFFFFF;
	border: 1px #999999 solid;
	border-radius: 3px;
	font-size: 16px;
	text-align: center;
}
button.home {
	width: 80px;
}
#custom-cat-holder {
	display: none;
	text-align: center;
	margin: auto;
	margin-top: 15px;
}
#custom-category {
	font-size: 20px;
	width: 250px;
	height: 25px;
}
div.main {
	margin-left: 10px;
	margin-right: 10px;
}
p.advising_1 {
	text-align: center;
}
div.advising_1 {
	text-align: center;
}
div.dropdown {
	position: relative;
	text-align: center;
	margin: auto;
	width: 200px;
}
div.dropdown-content {
	display: none;
	width: 200px;
	position: absolute;
	border: 1px #999999 solid;
	background-color: #FFFFFF;
	margin-bottom: 5px;
}
div.dropped {
	display: block;
    background: solid;
}
div.dropdown-option {
	text-align: center;
	height: 30px;
	border: none;
	border-bottom: 1px #999999 solid;
}
div.dropdown-option:hover {
	cursor: pointer;
	background-color: #66A9F6;
}
#select {
	width: 200px;
	height; 40px;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px #999999 solid;
	font-size: 24px;
	font-weight: 300;
}
#select:hover {
	cursor: pointer;
}
table {
	width: 90%;
	vertical-align: top;
}
button:hover {
	background-color: #BBBBBB;
}
.text_1 {
	margin-left: 10%;
	width: 80%;
	text-indent: 10px;
	font-size: 16px;
	resize: none;
}
input {
	height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}
#phone {
	width: 150px;
}
#email {
	width: 200px;
}
#submitter {
	text-align: center;
}
#submit {
	width: 150px;
}
